html.dark body {
	background-color: #121212;
}

html:not(.dark) > body {
	background-color: #fff;
}

body,
button {
	/*font-family: "Mulish", system-ui;*/
	font-family: "Fira Code", monospace;
	/* font-weight: 300; */
}

html:not(.dark) .theme-default-sidebar {
	background-color: rgb(251, 251, 251);
}

.home-page {
	display: none;
}

center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

stack {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

grid {
	display: grid;
}

grid[columns="2"] {
	grid-template-columns: repeat(2, 1fr);
}
grid[columns="3"] {
	grid-template-columns: repeat(3, 1fr);
}
grid[columns="4"] {
	grid-template-columns: repeat(4, 1fr);
}
grid[columns="5"] {
	grid-template-columns: repeat(4, 1fr);
}
grid[columns="6"] {
	grid-template-columns: repeat(6, 1fr);
}
grid[columns="7"] {
	grid-template-columns: repeat(7, 1fr);
}
grid[columns="8"] {
	grid-template-columns: repeat(8, 1fr);
}
grid[columns="9"] {
	grid-template-columns: repeat(9, 1fr);
}
grid[columns="10"] {
	grid-template-columns: repeat(10, 1fr);
}

grid[rows="2"] {
	grid-template-rows: repeat(2, 1fr);
}
grid[rows="3"] {
	grid-template-rows: repeat(3, 1fr);
}
grid[rows="4"] {
	grid-template-rows: repeat(4, 1fr);
}
grid[rows="5"] {
	grid-template-rows: repeat(5, 1fr);
}
grid[rows="6"] {
	grid-template-rows: repeat(6, 1fr);
}
grid[rows="7"] {
	grid-template-rows: repeat(7, 1fr);
}
grid[rows="8"] {
	grid-template-rows: repeat(8, 1fr);
}
grid[rows="9"] {
	grid-template-rows: repeat(9, 1fr);
}
grid[rows="10"] {
	grid-template-rows: repeat(10, 1fr);
}

[grow] {
	flex-grow: 1;
}
