html.dark body {
	background-color: #121212;
}

html:not(.dark) > body {
	background-color: #fff;
}

html:not(.dark) .shiki {
	background-color: var(--shiki-bg, #f7f8fa) !important;
}

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

body {
	font-size: 15px;
	tab-size: 2;
}

.admonition {
	margin-top: 1em;
}

code {
	word-break: keep-all;
}

.theme-default--page-layout {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		border-top: none !important;
	}

	h1 {
		background: linear-gradient(
			90deg,
			var(--purpleLight),
			var(--orangeDark),
			var(--orangeLight)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
	}

	h2 {
		color: var(--orangeDark);
	}

	h3,
	h4,
	h5,
	h6 {
		color: var(--purpleLight);
	}
}

.theme-default--page-layout .meta {
	display: none;
}

.theme-default--page-layout .page-switcher {
	border-top: none !important;
}

body,
button {
	font-family: "Fira Code", monospace;
	font-variant-ligatures: none;
}

html:not(.dark) .theme-default-sidebar {
	background-color: rgb(251, 251, 251);
}

@media (min-width: 950px) {
	.theme-default-sidebar.s-9Vf9XTllhwUZ {
		width: 23vw;
	}
}

.theme-default--page-layout .svp-title-anchor {
	padding-right: 8px;
}

center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

stack {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.theme-default-sidebar {
	padding-left: 3vw !important;
}

grid {
	display: grid;
}

grid[columns="2"] {
	grid-template-columns: repeat(2, 1fr);
}
grid[columns="3"] {
	grid-template-columns: repeat(3, 1fr);
}
grid[columns="4"] {
	grid-template-columns: repeat(4, 1fr);
}
grid[columns="5"] {
	grid-template-columns: repeat(4, 1fr);
}
grid[columns="6"] {
	grid-template-columns: repeat(6, 1fr);
}
grid[columns="7"] {
	grid-template-columns: repeat(7, 1fr);
}
grid[columns="8"] {
	grid-template-columns: repeat(8, 1fr);
}
grid[columns="9"] {
	grid-template-columns: repeat(9, 1fr);
}
grid[columns="10"] {
	grid-template-columns: repeat(10, 1fr);
}

grid[rows="2"] {
	grid-template-rows: repeat(2, 1fr);
}
grid[rows="3"] {
	grid-template-rows: repeat(3, 1fr);
}
grid[rows="4"] {
	grid-template-rows: repeat(4, 1fr);
}
grid[rows="5"] {
	grid-template-rows: repeat(5, 1fr);
}
grid[rows="6"] {
	grid-template-rows: repeat(6, 1fr);
}
grid[rows="7"] {
	grid-template-rows: repeat(7, 1fr);
}
grid[rows="8"] {
	grid-template-rows: repeat(8, 1fr);
}
grid[rows="9"] {
	grid-template-rows: repeat(9, 1fr);
}
grid[rows="10"] {
	grid-template-rows: repeat(10, 1fr);
}

[grow] {
	flex-grow: 1;
}
